.masonry { /* Masonry container */
	-webkit-column-count: 4;
	-moz-column-count:4;
	column-count: 4;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	margin: 1.5em;
	padding: 0;
	-moz-column-gap: 1.5em;
	-webkit-column-gap: 1.5em;
	column-gap: 1.5em;
	font-size: .85em;
  }
  .item {
	display: inline-block;
	background: #fff;
	/* padding-top: 1em; */
	margin: 0 0 1.5em;
	width: 100%;
	/* -webkit-transition:1s ease all; */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
  }
  .item img{max-width:100%;}
  
  @media only screen and (max-width: 320px) {
	  .masonry {
		  -moz-column-count: 1;
		  -webkit-column-count: 1;
		  column-count: 1;
	  }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 768px){
	.masonry {
	  -moz-column-count: 2;
	  -webkit-column-count: 2;
	  column-count: 2;
	}
  }
  @media only screen and (min-width: 769px) and (max-width: 1200px){
	.masonry {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
  }
  @media only screen and (min-width: 1201px) {
	.masonry {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
  }
  
  .metas {
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	min-height: 60px;
	position: relative;
	display: inline-block;
	width: 100%;
	background-color: #39509C;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  }
  
  .metas .title-wrapper {
	padding: 0;
	position: relative;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
  }
  
  .title-wrapper h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
	line-height: normal;
	margin-bottom: 0;
	text-align: center;
	margin-bottom:10px;
  }
  
  .title-wrapper a{
	color:#fff;
  }
  
  
  @media only screen and (max-width: 768px) {
	#main-slider {
	  min-height:unset;
	}
  
	.container-fluid .btn-lg{
	  width:100%;
	  margin-bottom:10px;
	}
  }