@font-face {
  src: URL('../fonts/FrutigerLTArabic45Light.ttf') format('ttf');
}

body{
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fff;
  font-size: 16px;
  color:#8f8f88;
  font-family: 'Frutiger';
}

p{
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, p, strong, span, a{
  color:#8f8f88;
}

a:hover{
  text-decoration: none;
}

.bg-primary{
  background-color:#39509C !important;
}

.primary-color{
  color:#39509C !important;
}

.bg-secondary{
  background-color:#E37236 !important;
} 

.secondary-color{
  color:#E37236 !important;
}

.bg-gray{
  background-color:#9D9D9B !important;
}

.bg-senary {
  background-color: #fff !important;
}

.header{
  height:96px;
}

#nav-top span{
  color:#fff;
  font-size: 14px;
}

.cart{
  color:#fff;
  position: relative;
  top: 16px;
}

.header span{
  color:#fff;
}

.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:#39509C;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}

.red-cart {
  color: #fff; 
  background:#39509C;
}

.fa-stack-2x {
  font-size: 1.0em;
  margin-top: 13px;
}

.language-switcher{
  margin-bottom:0px;
  padding-left: 0px;
}

.language-switcher li{
  list-style: none;
}

.language-switcher .dropdown-toggle{
  padding-left: 0px;
  color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
}

#nav-top li{
  margin-right: 71px !important;
}

#nav-top a{
  padding-left: 0px !important;
  padding-right:0px !important;
}

#main_navbar {
    height: 64px !important;
}

.main-nav .nav-item {
  margin-right:30px;
}

.fa-caret-down{
  margin-left: 5px;
}

.navbar-dark .navbar-toggler{
  color:#000;
}

.dropdown-menu {
  margin-top: 0;
}

.dropdown-menu .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin:0 20px;
    border-width: 0;
}

.dropdown-menu > li a:hover, .dropdown-menu > li.show {
  background: #39509C;
  color: white;
}

.dropdown-menu > li.show > a{
  color: #000;
}

.dropdown-item{
  color:#000;
}

.navbar-light .navbar-toggler {
  color:#000;
}

.product-info {
  margin-top: 50px;
}

button:focus{
  outline: unset;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .50rem .4rem;
  font-size: 16px;
  border-radius: .2rem;
}

.btn-primary {
  color: #fff;
  background-color:#39509C;
  border-color:#39509C;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #39509C;
  border-color: #39509C;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: unset;
}

footer{
  padding-top:25px;
  padding-bottom:25px;
  margin-top: 5px;
  margin-bottom:5px;
}

.footer-bg{
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url(../img/footer.png);
  background-size: 100% 100%;
}

#footer_navbar .nav-link{
  color:#fff !important;
  font-weight:500;
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem;
}

.list-inline-item {
  display: inline-block;
}

a.waves-effect, a.waves-light {
  display: inline-block;
}

.btn-floating {
  background-color: #fff !important;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  width: 47px;
  height: 47px;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #39509C;
  text-align: center;
}

.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
}

#wrapper-container .img-fluid{
    width:100%;
}

@media (min-width: 768px){
  .navbar-expand-md .shop-toggle{
      display: block;
  }
}

@media (max-width: 768px){
  .navbar-expand-md .shop-toggle{
      display: none;
  }
  
}

@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
    margin:0;
    border-width: 1px;
  }
}

@media (max-width: 768px){
  .navbar-expand-md .shop-toggle{
    display: none;
  }
}

@media (min-width: 768px){
  .navbar-expand-md .shop-toggle{
    display: block;
  }
  
}

#main-slider {
  min-height: 290px;
}

.carousel-indicators li{
  bottom: -40px;
}

.carousel-indicators li{
    background-color: #39509c;
}

.carousel-indicators li.active{
    background-color: #FF5C01;
}

.carousel-item img{
  width: 100%;
}

.offer-slider .carousel-indicators {
  left: 0;
  top: auto;
    bottom:0px;

}

/* The colour of the indicators */
.offer-slider .carousel-indicators li {
    background: #345CA1;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.offer-slider .carousel-indicators .active {
    background: #FF5C01;
}

/* Brands Logos */

.brands_slider_container {
  background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.brands_slider {
  height: 100%;
  margin-top: 50px
}

.brands_item {
  height: 100%
}

.brands_item img {
  max-width: 100%
}

.brands_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.brands_nav i {
  color: #e5e5e5;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.brands_nav:hover i {
  color: #676767
}

.brands_prev {
  left: 40px
}

.brands_next {
  right: 40px
}


.dropdown-toggle::after{
  display: none;
}

.navbar-nav .nav-link{
  color: #000 !important;
}

.position-relative {
  position: relative !important;
}

.product_item {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.product_item .product_image {
  overflow: hidden;
  padding: 0;
}

.product_item .product_image img {
  width: 100%;
}

.product_item .product_details {
  padding: 5px 10px 5px 10px;
}

.product_item .product_details .product_title h3{
  margin-top: 0;
  margin-bottom:0px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-decoration: none;
}

.product_details{
  text-align: center;
}

.product_item .product_details ul {
  padding: 0 3px 10px 0;
  margin: 0;
}

.product_item .product_details ul li {
  display: inline-block;
  padding-right: 15px;
  position: relative;
}

.product_item .product_details ul li i {
  padding-right: 7px;
}

.price{
  margin-top: 5px;
  text-align: justify;
}

.product_item .product_details a i {
  vertical-align: middle;
  font-size: 20px;
}

.countdown span:first-of-type {
  margin-left: 0;
}

.countdown-circles span {
  width: 45px;
  height: 45px;
  background: #39509C;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.countdown-circles span:first-of-type {
  margin-left: 0;
}

.holder span{
  color:#fff;
}

.marginRight{
  margin-left:7px;
}

.price-container p{
  text-align: center !important;
}


.discount {
  padding: 8px;
  background-color: #345CA1;
  color: #fff;
  font-weight: 600;
  margin-right: 8px;
  margin-left: 8px;
}

ul.social {
    padding: 0 3px 10px 0;
    margin: 0;
}

ul.social li {
    display: inline-block;
    position: relative;
    padding-right: 2px !important;
}

.social .fa-heart-o, .social .fa-share-alt{
  color:#39509C;
}

.owl-nav {
  display: block;
}

.owl-nav .owl-prev {
  position:absolute;
  right:35px;
  top:-30px;
  border:5px solid #ff5e14;
  text-align: center;
  z-index: 5;
  width:30px;
  height:30px;
  outline:0;
  background: #ff5e14;
  color:#fff;
}

#brand-logos .owl-nav .owl-prev, #brand-logos .owl-nav .owl-next{
  top: -55px;
}

.owl-nav .owl-prev span {
  font-size: 25px;
  margin-top: -6px;
  display: inline-block;
}

.owl-theme .owl-nav .disabled{
  opacity: 1;
}

.owl-nav .owl-next {
  position: absolute;
  right: 0px;
  top: -30px;
  border: 5px solid #39509C;
  text-align: center;
  z-index: 5;
  width: 30px;
  height: 30px;
  outline: 0;
  background:#39509C;
  color: #fff;
}

.owl-nav .owl-next span {
  font-size: 25px;
  margin-top: -6px;
  display: inline-block;
}

.owl-nav .owl-next:hover {
  background:#39509C;
  border-color:#39509C;
  color:#fff;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  background:#39509C;
  border-color:#39509C;
  color:#fff;
  border-radius:50%;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #39509C;
  color: #FFF;
  text-decoration: none;
}

.owl-nav .owl-prev span, .owl-nav .owl-next span{
  color:#fff;
}

.brand-logo{
  margin-top:35px;
  margin-bottom:35px;
}

.title{
  color: #39509C;
  font-weight: 700;
  font-size: 34px;
}

.text-black{
  color: #000;
}

#nav-top nav{
  padding: 0px;
}

.new-product h3{
   margin-top: 0;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: none;
}

.new-product p{
  color:#000;
  font-weight: 700;
}

.new-product span{
  color:#FD0019;
  font-weight: 700;
}

.price-container .discount-price{
  text-decoration: line-through;
}

.price-div{
  font-size: 16px;
  font-weight: 500;
}

.price-strong{
  font-weight: 700;
  color:#000;
}

.price-discount{
  text-decoration: line-through;
  color:#C6C6C6;
}

#newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

#newsletter h3{
  color:#fff;
  font-size:30px;
}

#newsletter .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}

#newsletter .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

#newsletter .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}

#newsletter .btn {
  min-height: 50px;
  border-radius: 0;
  background: #F9B138;
  color: #fff;
  font-weight: 600;
}

#btn-top {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#btn-top:hover {
  cursor: pointer;
  background-color: #333;
}

#btn-top:active {
  background-color: #555;
}

#btn-top.show {
  opacity: 1;
  visibility: visible;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; 
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; 
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; 
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; 
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; 
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right:0; 
}

.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; 
}

.card {
  line-height: 1.5em; 
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; 
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
  font-weight: bold;
}

.checked, .price span {
  color: #fff;
}

.product-title {
  margin-top: 0; 
}

.size {
  margin-right: 10px; 
}

.size:first-of-type {
  margin-left: 40px; 
}

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff; 
}

.green {
  background: #85ad00; 
}

.blue {
  background: #0076ad; 
}

.tooltip-inner {
  padding: 1.3em; 
}

.new-product .social, .popular-products .social, .selling-products .social, .mt, .mb{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}


@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); 
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); 
    } 
}

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); 
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); 
  } 
}

@media only screen and (max-width: 577px) {
  .owl-nav .owl-prev {
    left: -17px !important;
  }
  .owl-nav .owl-next {
    right: -17px !important;
  }
}

#wrapper-container .view-more{
  position: relative;
  right:0;
}

.viewmore{
  position: relative;
  text-align: right;
  display: block;
  top: -35px;
  color: #39509C;
  font-weight: 600;
}

.cat-navigate-btn a{
  color:#39509C !important;
  font-size:16px;
  font-weight: 400;
  text-transform: uppercase;
}



/* hover dropdown menus */
@media only screen and (max-width: 991px) {
    .navbar-hover .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li{position:relative;}
    .navbar-hover .collapse ul li:hover> ul{display:block}
    .navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    .navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
}

.grid {
  margin: 0 auto;
}

.grid-item { width: 25%; }

.thumbnail img{
  width: 100%;
}

.img-contain{
  position:relative;
}

.hoverImg{
  display:none;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}
.img-contain:hover .hoverImg{
  display:block;
}


/* Filter Css start */


.form-price-range-filter {
  text-align: center;
}

.tutorial-table {
    width: 100%;
    font-size: 13px;
    border-top: #e5e5e5 1px solid;
    border-spacing: initial;
    margin: 20px 0px;
    word-break: break-word;
}

.tutorial-table th {
    background-color: #f5f5f5;
  padding: 10px 20px;
  text-align: left;
}

.tutorial-table td {
    border-bottom: #f0f0f0 1px solid;
    background-color: #ffffff;
  padding: 10px 20px;
}

.text-right {
  text-align: right;
}

th.text-right {
  text-align: right;
}

.btn-submit {
  margin-top: 20px;
  padding: 10px 20px;
  background: #FFF;
  border: #aaa 1px solid;
  border-radius: 4px;
  margin: 20px 0px;

}

#min {
  float: left;
  width: 50px;
  padding: 5px 0px;
  margin-right: 14px;
  text-align: center;
}

#slider-range {
  width: 40%;
  float: left;
  margin-top: 13px;
  margin-right: 14px;
}

#max {
  float: left;
  width: 50px;
  padding: 5px 0px;
  text-align: center;
}

.no-result {
  padding: 20px;
  background: #ffdddd;
  text-align: center;
  border-top: #d2aeb0 1px solid;
  color: #6f6e6e;
}

.product-thumb {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  vertical-align: middle;
}

.border-gray {
  border-right: #cacaca 1px solid;
  border-left: #cacaca 1px solid;
  border-bottom: #cacaca 1px solid;
}

.panel-bg {
  border-top: #cacaca 1px solid;
  border-bottom: #cacaca 1px solid;
  background-color: #f2f2f2;
}

.payment{
  border: #cacaca 1px solid;
  background-color: #f2f2f2;
}

.payment h4{

  margin-bottom:1.2rem !important;

}

.product-container {
  margin-bottom:20px;
}

.product-container p{
  margin-bottom:5px;
}

.product-text{
  margin-top: 35px;
}

.border-bottom-img{
  border-bottom: #cacaca 1px solid;
}

.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.in-active-step{
  color: #fff;
  background-color: #8f8f88;
  border-color: #8f8f88;
}

.payment-img{
  width:100px;
  height: 25px;
}

.shipping{
  border: #cacaca 1px solid;
  border-top: none;
  padding: 9px 16px;
  height: 110px;
  margin-bottom:10px;
}

.well-sm {
  padding: 9px;
  border-radius: 3px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  text-align: center;
}

.tile-primary {
  background-color: #1b80c2;
}

.tile {
  margin-bottom: 15px;
  border-radius: 3px;
  color: #FFFFFF;
  transition: all 1s;
}

.tile-heading {
  padding: 5px 8px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  background-color: rgba(255,255,255,0.1);
}

.tile-body h2{
  color:#fff;
}

.tile-body {
  padding: 15px;
  color: #FFFFFF;
  line-height: 48px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
}

.tile-body .fa{
  font-size: 30px;
}

.tile a {
  color: #FFFFFF;
}

.tile-footer {
  padding: 5px 8px;
  background-color: rgba(0,0,0,0.1);
}