.hovereffect {
  position: relative;
}
.hovereffect img{
 
  border: 2px solid #E37236;
  
}
.image {
  display: block;
  width: 100%;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  z-index: 1;
  text-align: center;
}

.hovereffect:hover .overlay {
  height: 90px;
}
 
.text {
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.social-icons{
  margin-top:10px;

}

.social-icons a{
  display: inline-block !important;
  margin-top:5px;
  margin-bottom:5px;
  margin-right: 15px;

}

.social-icons .fa{
  font-size:18px;
}

.table thead th {
  padding: 17px 0;
  border-bottom: 1px solid #ddd;
  background: #878787;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
}

.cart-table tbody td{
  padding: 20px 10px;
  text-align: inherit;
  border-width: 0 0 1px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
}

.cart-table a, .cart-table span{
  font-size: 16px;
  font-weight: 600;
  color:#000;
}

.coupon {
  width: 470px;
}


.cart-table input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.cart-table input[type=number]::-webkit-inner-spin-button, 
.cart-table input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.cart-table .number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.cart-table .number-input button:before,
.cart-table .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.cart-table .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.cart-table .number-input input[type=number] {
  text-align: center;
}

.cart-table .md-number-input.number-input {
  border: 2px solid #ddd;
  width: 11.8rem;
}

.cart-table .md-number-input.number-input button {
  outline: none;
  width: 3rem;
  height: 2rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

.cart-table .md-number-input.number-input button.minus {
  padding-left: 8px;
}

.cart-table .md-number-input.number-input button.plus {
  padding-left: 2px;
}

.cart-table .md-number-input.number-input button:before,
.cart-table .md-number-input.number-input button:after {
  width: 1rem;
  background-color: #212121;
  top: 8px;
  right: 7px;
}

.cart-table .md-number-input.number-input input[type=number] {
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  outline: none;
}
.cart-table .plus, .cart-table .minus{
  padding: 0px;
}


@media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .cart-table .number-input.md-number-input.safari_only button:before, 
  .cart-table .number-input.md-number-input.safari_only button:after {
      margin-top: -.6rem;
    }
  }
}

.col-xs-5th-1, .col-xs-5th-2, .col-xs-5th-3, .col-xs-5th-4{
  float: left
}
.col-xs-5th-5{
  float: left;
  width: 100%;
}

.col-xs-5th-4{
  width: 80%
}

.col-xs-5th-3{
  width: 60%
}

.col-xs-5th-2{
  width: 40%
}

.col-xs-5th-1{
  width: 20%
}

.col-xs-5th-pull-5{
  right: 100%
}

.col-xs-5th-pull-4{
  right: 80%
}

.col-xs-5th-pull-3{
  right: 60%
}

.col-xs-5th-pull-2{
  right: 40%
}

.col-xs-5th-pull-1{
  right: 20%
}

.col-xs-5th-pull-0{
  right: auto
}

.col-xs-5th-push-5{
  left: 100%
}

.col-xs-5th-push-4{
  left: 80%
}

.col-xs-5th-push-3{
  left: 60%
}

.col-xs-5th-push-2{
  left: 40%
}

.col-xs-5th-push-1{
  left: 20%
}

.col-xs-5th-push-0{
  left: auto
}

.col-xs-5th-offset-5{
  margin-left: 100%
}

.col-xs-5th-offset-4{
  margin-left: 80%
}

.col-xs-5th-offset-3{
  margin-left: 60%
}

.col-xs-5th-offset-2{
  margin-left: 40%
}

.col-xs-5th-offset-1{
  margin-left: 20%
}

.col-xs-5th-offset-0{
  margin-left: 0%
}

@media (max-width: 768px){
  .col-md-5th-1{
    float: left;
    width: 100% !important;
  }
}

@media (min-width: 768px){
  .col-sm-5th-1, .col-sm-5th-2, .col-sm-5th-3, .col-sm-5th-4{
    float: left
  }

  .brand-logo .col-xs-6{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-sm-5th-5{
    float: left;
    width: 100%
  }
  .col-sm-5th-4{
    width: 80%;
  }
  .col-sm-5th-3{
    width: 60%
  }
  .col-sm-5th-2{
    width: 40%
  }
  .col-sm-5th-1{
    width: 20%
  }
  .col-sm-5th-pull-5{
    right: 100%
  }
  .col-sm-5th-pull-4{
    right: 80%
  }
  .col-sm-5th-pull-3{
    right: 60%
  }
  .col-sm-5th-pull-2{
    right: 40%
  }
  .col-sm-5th-pull-1{
    right: 20%
  }
  .col-sm-5th-pull-0{
    right: auto
  }
  .col-sm-5th-push-5{
    left: 100%
  }
  .col-sm-5th-push-4{
    left: 80%
  }
  .col-sm-5th-push-3{
    left: 60%
  }
  .col-sm-5th-push-2{
    left: 40%
  }
  .col-sm-5th-push-1{
    left: 20%
  }
  .col-sm-5th-push-0{
    left: auto
  }
  .col-sm-5th-offset-5{
    margin-left: 100%
  }
  .col-sm-5th-offset-4{
    margin-left: 80%
  }
  .col-sm-5th-offset-3{
    margin-left: 60%
  }
  .col-sm-5th-offset-2{
    margin-left: 40%
  }
  .col-sm-5th-offset-1{
    margin-left: 20%
  }
  .col-sm-5th-offset-0{
    margin-left: 0%
  }

}

@media (max-width: 768px){
  
  .brand-logo .col-xs-6{
    float: left;
    width: 33% !important;
  }
}

@media (min-width: 992px){
  .col-md-5th-1, .col-md-5th-2, .col-md-5th-3, .col-md-5th-4{
    float: left;
  }
  .col-md-5th-5{
    float: left;
    width: 100%;
  }  
  
  .col-md-5th-4{
    width: 80%;
  }
  
  .col-md-5th-3{
    width: 60%;
  }

  .col-md-5th-2{
    width: 40%;
  }
  .col-md-5th-1{
    width: 20%;
  }
  .col-md-5th-pull-5{
    right: 100%;
  }
  .col-md-5th-pull-4{
    right: 80%;
  }
  .col-md-5th-pull-3{
    right: 60%;
  }
  .col-md-5th-pull-2{
    right: 40%;
  }
  .col-md-5th-pull-1{
    right: 20%;
  }
  .col-md-5th-pull-0{
    right: auto;
  }
  .col-md-5th-push-5{
    left: 100%;
  }
  .col-md-5th-push-4{
    left: 80%;
  }
  .col-md-5th-push-3{
    left: 60%;
  }
  .col-md-5th-push-2{
    left: 40%;
  }
  .col-md-5th-push-1{
    left: 20%
  }
  .col-md-5th-push-0{
    left: auto
  }
  .col-md-5th-offset-5{
    margin-left: 100%;
  }
  .col-md-5th-offset-4{
    margin-left: 80%;
  }
  .col-md-5th-offset-3{
    margin-left: 60%;
  }
  .col-md-5th-offset-2{
    margin-left: 40%;
  }
  .col-md-5th-offset-1{
    margin-left: 20%;
  }
  .col-md-5th-offset-0{
    margin-left: 0%;
  }

@media (min-width: 1200px){
  .col-lg-5th-1, .col-lg-5th-2, .col-lg-5th-3, .col-lg-5th-4{
    float: left;
  }
  .col-lg-5th-5{
    float: left;
    width: 100%;
  }  
  .col-lg-5th-4{
    width: 80%;
  }
  .col-lg-5th-3{
    width: 60%;
  }
  .col-lg-5th-2{
    width: 40%;
  }
  .col-lg-5th-1{
    width: 20%;
  }
  .col-lg-5th-pull-5{
    right: 100%;
  }
  .col-lg-5th-pull-4{
    right: 80%;
  }
  .col-lg-5th-pull-3{
    right: 60%;
  }
  .col-lg-5th-pull-2{
    right: 40%;
  }
  .col-lg-5th-pull-1{
    right: 20%;
  }
  .col-lg-5th-pull-0{
    right: auto;
  }
  .col-lg-5th-push-5{
    left: 100%
  }
  .col-lg-5th-push-4{
    left: 80%
  }
  .col-lg-5th-push-3{
    left: 60%;
  }
  .col-lg-5th-push-2{

 
    left: 40%;
  }
  .col-lg-5th-push-1{
    left: 20%;
  }
  .col-lg-5th-push-0{
    left: auto;
  }
  .col-lg-5th-offset-5{
    margin-left: 100%;
  }
  .col-lg-5th-offset-4{
    margin-left: 80%;
  }
  .col-lg-5th-offset-3{
    margin-left: 60%;
  }
  .col-lg-5th-offset-2{
    margin-left: 40%;
  }
  .col-lg-5th-offset-1{
    margin-left: 20%;
  }
  .col-lg-5th-offset-0{
    margin-left: 0% ;
  }
}
}