.no-bg{
    background-color:unset;
}

.card{
    box-shadow:unset;
}

.gallery-tumb .col{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.count {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding: 22px 0px;
    text-align: center !important;
}

.plus, .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 18px;
    padding: 9px 18px;

}

.gallery-item {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 10px 0 rgba(0,0,0,0.07) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 10px 0 rgba(0,0,0,0.07) !important;
}

.skin-light .rounded {
    border-radius: .375rem !important;
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view img, .view video {
    position: relative;
    display: block;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin-top:7px;
    margin-bottom:7px;
    margin-right:2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.classic-tabs .nav.tabs-primary {
    background-color: #fff !important;
}

.classic-tabs .nav.tabs-primary li.nav-item {
    border-bottom: 1px solid #dee2e6;
}

.classic-tabs .nav.tabs-primary li a.active {
    color: #1266f1 !important;
    border-color: #1266f1;
}

.classic-tabs .nav.tabs-primary li a {
    color: #6c757d;
    font-weight: 500;
}

.classic-tabs .nav.tabs-primary li a.active {
    color: #1266f1 !important;
    border-color: #1266f1;
    border-bottom: 3px solid;
}

.classic-tabs .nav li a:not(.active) {
    margin-bottom: 3px;
}

.classic-tabs .nav li a {
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    color: rgba(255,255,255,.7);
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
}

.classic-tabs .tab-content {
    padding: 1.5rem 0;
}

.classic-tabs h5, .classic-tabs h6 {
    font-weight: 500;
}

.classic-tabs h5{
    font-size: 1.25rem;
}

.classic-tabs h6{
    font-size: 1rem;
}

.rating {
    color: #4f4f4f;
    padding: 0;
    list-style-type: none
}

.rating li{
    display: inline-block;
}

.classic-tabs .table {
    color: #4f4f4f;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.05);
}

.w-150 {
    width: 150px;
}

.total-price strong, .total-price td{
    font-size:18px;
}

.classic-tabs .z-depth-1, .classic-tab .chip:active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 10px 0 rgba(0,0,0,0.07) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 10px 0 rgba(0,0,0,0.07) !important;
}

.classic-tabs .tab-content img {
    width: auto;
}

#magnific .card{
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.xzoom-gallery, .xzoom-gallery-video {
    margin-top: 10px;
    margin-right: 9px;
}
    
.xzoom-gallery-video {
    border: 1px solid #cecece;
    margin-left: 5px;
    margin-bottom: 10px;

}

.xzoom {
    margin-top:0px !important;
}

.xzoom-thumbs{
    text-align: left;
}

.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5, .xzoom-gallery-video {
    margin-left:unset;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
    }
}

#magnific fieldset.active {
    display: block !important
}

#magnific fieldset {
    display: none
}

#magnific i{
    padding-right: 7px;
    vertical-align: middle;
    font-size: 20px;
}

.black{
    background: #000;
}

.white{
    background: #fff;
    border-color: #000
}

.pink{
    background: #FE0BF1;
}

.colors{
    color:#000;
}

.table-responsive{
    overflow-x: hidden;
}

.classic-tabs .nav.tabs-primary li a.active {
    color: #39509C !important;
    border-color: #39509C;
}

.recommended-products .owl-theme .owl-nav{
    display: none;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 1.5em;
    width: 1.5em;
    border-radius: 2px; 
}

.color:first-of-type {
    margin-left: 20px; 
}

.not-available {
  text-align: center;
  line-height: 1.5em; 
}
  
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; 
}

.orange {
  background: #ff9f1a;
}

.form-control:disabled, .form-control[readonly] {
    background-color:unset;
}

.total-price strong, .total-price td{
    font-size: 26px;
}

.brand strong, .brand td{
    font-size: 20px;
}

.bs-example{
    margin: 20px;
}

.modal-content iframe{
    margin: 0 auto;
    display: block;
}

#category-section{
    padding: 1em 0 1em;
}

#category-section p{
    line-height: 1.7;
}

.cattitle{
    margin-bottom: 20px;
}

.cattitle .title {
    background: #8e8e8e;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px; 
    overflow: hidden;
}

.cattitle .title h3 {
    margin: 0px;
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
}

.cattitle .title i {
    color: #fff;
    margin-left: 1px;
    font-size: 14px;
}

.cattitle .title a {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.xzoom{
    box-shadow: unset;
}

.cat-name{
    position: relative;
    left: 40px;
}


.xzoom-preview, .xzoom-source img, .xzoom-preview img, .xzoom-lens img {
    display: block;
    max-width: none;
    max-height: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.xzoom-preview img{
    width:100%;
}

.xzoom-lens {
    border:unset !important;
    box-shadow:unset !important;;
}

.xzoom-source div{
    background-color:unset !important;
}

.hover{
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
  }
  .grid-v1:hover .hover{
    display:block;
    /* opacity: 1; */
  }