.carousel.rtl {
    direction: rtl;
  }
  
  .viewmore{
    text-align: left;
  }
  
  .owl-nav .owl-prev{
    left: 35px;
  }
  
  .owl-nav .owl-next{
    left: 0px;
  }
  
  #newsletter .form-control {
    text-align: right;
  }
  
  .form-inline .form-control {
    text-align: right;
  }
  
  .main-nav, .nav{
    padding-left: unset;
    padding-right:40px;
  }
  
  .main-nav .nav-item {
    margin-right: unset;
    margin-left: 30px;
  }
  
  #nav-top li {
    margin-right:unset !important;
    margin-left: 71px !important;
  }  
  
  @media all and (transform-3d), (-webkit-transform-3d) {
    .carousel.rtl .carousel-inner > .item.next,
    .carousel.rtl .carousel-inner > .item.active.right {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
    }
    .carousel.rtl .carousel-inner > .item.prev,
    .carousel.rtl .carousel-inner > .item.active.left {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
    }
  }