.card{
    border-radius: unset;
}
.services .card-body{
    text-align:center;
    padding: 0px;
    padding-top:5px;
    padding-bottom:5px;
}
.card-body p{
	margin-bottom:0;
}

.services .card-body img{
	width: auto;
}

.card-body img{
    width:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.bg-black{
    background-color:#000000 !important;
}
.bg-ligth-blue{
   	background-color:#00B1ED !important;
}

.bg-blue{
    background-color:#017CB8 !important;
}

.bg-navi-blue{
 	background-color:#255ABA !important;
}

.bg-gray{
    background-color:#858585 !important;
}

.big-offer{
    font-weight: 700;
}

footer h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.list{
    padding-left: 0px;
}
.list li{
	list-style: none;
}
.list p{
    margin-bottom: 0px;
}
.list .nav-link{
    padding-left:5px;
    padding-right:5px;
}

.sep{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom:1px solid rgba(0,0,0,.1);
}

.new-product .owl-dots{
    text-align:center !important;
}

footer .row{
    margin:0 auto;
}

.countdown span:first-of-type {
    margin-left: 0;
}

.countdown-circles span {
    width: 45px;
    height: 45px;
    background: #FF5C01;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.countdown-circles span:first-of-type {
    margin-left: 0;
}

.marginRight{
    margin-right: 10px;
}

.btn-offer:hover, .btn-offer{
    color:#fff;
    background-color:#FF5C01;
    border-color:#FF5C01;
    padding-top:5px;
    padding-bottom:5px;
}

.owl-theme .owl-dots {
    text-align: left;
}

.card-hover .card .card-title{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color:#040404;
}

.card-hover:hover .card .card-title{
    color:#FF5C01 !important;
}

.badge, [class*=bg-]{
    background-color:#FF5C01;
}

.card-date{
    font-size: 14px;
    font-weight:500;
}

.discount{
    padding:8px;
    background-color:#345CA1;
    color:#fff;
    font-weight:600;
    margin-right: 8px;
    margin-left: 8px;
}
#newsletter{
    margin-bottom: 25px;
}

#newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

#newsletter .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

#newsletter .btn {
    min-height: 50px;
    border-radius: 0;
    background: #F9B138;
    color: #fff;
    font-weight: 600;
}
#newsletter{
    background-color: #0070BA;
}

.info .fa{
    color:#0070BA;
    margin-bottom:20px;
}

.footer-social-icon .nav-link{
    background-color: #0070BA;
    margin-right: 5px;
}

.footer-social-icon .fa-lg{
    color:#fff;
}

.price{
    float: right;
    background-color: unset;
}

.side-bar{
	background: url('../img/bg.png');
	background-repeat: repeat;
	border: 1px solid #566061 !important;
    margin-bottom: 15px;
}

.side-bar h4{
	background: url('../img/shape.png');
	background-repeat: repeat;
    color:#fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 33px;
}

.clearfix{
    padding:10px;
}

.clearfix h6{
    font-weight:600;
    font-size: 20px;
    color:#0070BA;
}

.clearfix p{
    font-weight:500;
    font-size: 16px;
    color:#0070BA;
}

.publication-card .bg-news{
    padding:0;
    border-radius:12px;
}   

.publication-card .card-body{
    border-radius: 50px 20px;
}

.row:before, .row:after{
    display: table;
    content: " ";
}

.row:after{
    clear: both;
}

.swiper-slide .content{
    text-align: center;
    display: block;
    padding: 100px 0px;
    transform: translatey(50px);
    -ms-transform: translatey(50px);
    -webkit-transform: translatey(50px);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
}

.swiper-slide{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.about{
    background: #39576a;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233e51', endColorstr='#39576a',GradientType=0 );
}

#slide-about {
    overflow: hidden;
}
.about-icons{
    display: inline-table;
    width: 100%;
    position: relative;
    z-index: 3;
}
.about-icons a{
    display: table-cell;
    font-size: 25px;
    width: 20%;
}
.about-icons a h4{
    color: #fff;
}
.about-icons a img{
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
.about-icons a:hover img{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.about-icons h4{
    margin-top: 25px;
}
.hash-nav{
    margin-right: -5px;
    margin-left: -5px;
    position: relative;
    z-index: 3;
}
.hash-nav .item{
    padding: 0px 5px;
}
.hash-nav .item a{
    display: block;
    padding: 20px;

    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.hash-nav .item a h3{
    color: #fff;
}

.hash-nav .item a img{
    height: 55px;
    margin-bottom: 15px;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
.hash-nav .item a:hover img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.about-slide{
    position: relative;
}
.about-slide:before{
    content: "";
    display: block;
    height: 420px;
    position: absolute;
    background: url(../img/bg-transparent-1.png) center top;
    background-size: cover;
    background-repeat: repeat-x;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    animation: background 60s linear;
    animation-iteration-count: infinite;
    -webkit-animation: background 60s linear;
 	-webkit-animation-iteration-count: infinite;
}
.about-slide:after{
    content: "";
    display: block;
    position: absolute;
    background: url(../img/bg-transparent-2.png) center bottom;
    background-size: 70%;
    background-repeat: repeat-x;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 340px;
    z-index: 2;
    animation: background 40s linear;
    animation-iteration-count: infinite;
    -webkit-animation: background 40s linear;
    -webkit-animation-iteration-count: infinite;
}

.swiper-slide .content.active {
    opacity: 1;
    transform: translatey(0px);
    -ms-transform: translatey(0px);
   -webkit-transform: translatey(0px);
}

.about-slide p{
	color: #fff;
	margin-top: 10px;
}

.item .social{
	width:150px;
	padding:0;
	margin:0;
	list-style:none;
	opacity:0;
	transform:translateY(-50%) translateX(-50%);
	position:absolute;
	top:60%;
	left:50%;
	z-index:1;
	transition:all .3s ease 0s;
}
.item:hover .social{
	opacity:1;top:50%;
}
.item .social li{
	display:inline-block
}
.item .social li a{
	color:#fff;
	background-color:#333;
	font-size:16px;
	line-height:40px;
	text-align:center;
	height:40px;
	width:40px;
	margin:0 2px;
	display:block;
	position:relative;
	transition:all .3s ease-in-out;
}

.item .social li a:hover{
	color:#fff;
	background-color:#FF5C01;
}

.item .social li a:after,.item .social li a:before{
	content:attr(data-tip);
	color:#fff;
	background-color:#000;
	font-size:12px;
	letter-spacing:1px;
	line-height:20px;
	padding:1px 5px;
	white-space:nowrap;
	opacity:0;
	transform:translateX(-50%);
	position:absolute;
	left:50%;top:-30px;
}

.item .social li a:after{c
	ontent:'';
	height:15px;
	width:15px;
	border-radius:0;
	transform:translateX(-50%) rotate(45deg);
	top:-20px;z-index:-1;
}

.item .social li a:hover:after,.item .social li a:hover:before{
	opacity:1;
}

.item .title{
	font-size:13px;
	font-weight:400;
	letter-spacing:.5px;
	text-transform:capitalize;
	margin:0 0 10px;
	transition:all .3s ease 0s;
}

.item .title a{
	color:#828282;
}

.item .title a:hover,.item:hover .title a{
	color:#ef5777;
}


@-webkit-keyframes background {
    0% {
        background-position-x: 0vw;
    }
    100% {
        background-position-x: 100vw;
    }
}

@keyframes background {
    0% {
        background-position-x: 0vw;
    }
    100% {
        background-position-x: 100vw;
    }
}

@media screen and (max-width: 997px){
	.about-icons a,.about-icons{
        display: block;
        float: right;
    }
    .about-icons h4 {
        margin-top: 10px;
        font-size:20px;
    }
    .about-icons a:nth-child(2) img {
        height: 61px;
    }
    .about-icons a{
        margin-bottom: 25px;
        width: 50%;
    }
    .about-icons a:last-of-type{
        width: 100%;
    }
   
}

@media screen and (min-width: 970px){
    .about-icons.container-width{
        width: 97%;
    }
    .hash-nav.container-width{
        width: 92%;
    }
    
}

.logo{
	margin-top:5px;
	margin-bottom:5px;
}

.fa-stack-2x {
    font-size: 1.5em !important;
}

.fa-stack-2x{
	color:#0b254c;
}

.fa-stack[data-count]:after{
	position:absolute;
	right:0%;
	top:0%;
	content: attr(data-count);
	font-size:40%;
	padding:.6em;
	border-radius:999px;
	line-height:.75em;
	color: #fff;
	text-align:center;
	min-width:2em;
	font-weight:bold;
	background: #0b254c;
	border-style:solid;
}

.bg-products img{
	width:172px;
}

.top-links li a{
	color:#343a4;
}

#demo .carousel-indicators li{
	background-color: #1a6798;
}

#demo .carousel-indicators li.active{
	background-color: #ff5c01;
}


#demo img{
	background-size: cover;
}

#demo .carousel-inner img {
    width: 100%;
    height: 100%;
}


.e-service{
	color: #fff;
    font-size: 48px;
    position: relative;
    top: -40px;
}

#post-footer{
	padding-top: 10px;
	padding-bottom: 10px;
}

#new-product .card{
	background-color:#ededed !important;
	border:1px solid #ededed !important;
}

.top-unset{
	background-color:#fff;
}

#new-product .pt-2{
	padding-left: 5px;
	padding-right: 5px;
}


@media (max-width: 768px){
	.navbar-expand-md .shop-toggle{
	    display: none;
	}
}

@media (min-width: 768px){
	.navbar-expand-md .shop-toggle{
	    display: block;
	}
}

.bg-news .card-img-bg-top{
	height: auto;
}
.bg-news img{
	width: auto;
}

.about-slide img{
	width: 95px;
}

.bg-img{
    background: url('../img/bg-1.png');
    margin-top: 7px;
}

.bg-img .card{
    background-color:unset;
}
.header-bg{
	background: url('../img/shape-menu.png');
}