.arabic-input {
    direction:rtl;
    unicode-bidi:bidi-override;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px 5px 5px 10px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    font-size:14px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left:100%;
    margin-top: -1px;
}


.space{
    margin-left:8px;
}

.table-total {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
}
.table-total>tbody>tr>td, .table-total>tbody>tr>th, .table-total>tfoot>tr>td, .table-total>tfoot>tr>th, .table-total>thead>tr>td, .table-total>thead>tr>th {
    padding: 5px 5px 5px 10px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
.table-total>tbody+tbody {
    border-top: 2px solid #ddd;
}
.order-total * {
    text-align: right !important;
    font-weight: bold;
    background-color: #f8f8f8;
}

.logopacking {
    width: 55%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.label-percent {
        padding: 2px 5px;
        background: #df2467;
        font-size: 13px;
        font-weight: normal;
}